<div class="container">
	<h5 class="text-center mt-3">SERVICE VOITURES</h5>
	<div style="text-align: center; vertical-align: middle;">
		<img src="https://static.vecteezy.com/ti/vecteur-libre/p3/1850964-experts-analysent-les-voitures-vectoriel.jpg" style="width: 300px; height: 200px;">
	</div>
	<div style="text-align: center; vertical-align: middle; margin: 20px">
		<a href="#" routerLink="/voitures/add" class="btn btn-outline-primary ms-auto">Add Voiture</a>
	</div>

	<div class="table-responsive">
		<table class="table table-info table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Id</th>
					<th scope="col">Matricule</th>
					<th scope="col">Marque</th>
					<th scope="col">Model</th>
					<th scope="col">Client Id</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr scope="row" *ngFor="let product of products">
					<td style="text-align: center; vertical-align: middle;">
						<img src="https://cdn-icons-png.flaticon.com/512/3774/3774270.png" style="width: 80px; height: 80px;">
					</td>

					<td>{{ product?.id }}</td>
					<td>{{ product?.matricule }}</td>
					<td>{{ product?.marque}}</td>
					<td>{{ product?.model }}</td>
					<td>{{ product?.client }}</td>
					<td><a href="#" [routerLink]="['/voitures/', product.id, 'view']" class="btn btn-info m-1">View</a> <a href="#"
							[routerLink]="['/voitures/', product.id, 'edit']" class="btn btn-primary m-1">Edit</a>
						<button type="button" (click)="openDialog(product.id)" class="btn btn-danger m-1">Delete</button></td>
				</tr>
				<tr scope="row" *ngIf="products.length === 0">
					<td colspan="6" class="text-center">No record found</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
